<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    /> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header__bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header">
              <div class="header__logo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="banner" id="banner">
            <div
              id="carouselExampleIndicators"
              class="carousel slide carousel-fade"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="carousel__item">
                    Apollo accompanies you and I everyday. An Invulnerable HRM
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel__item">
                    Apollo fully supports mobility and empower teams to embrace
                    collaboration.
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel__item">
                    Never stop innovating, a comprehensive HRM you can trust and
                    makes talents more focused on enterprise growth.
                  </div>
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="banner__btnbox">
              <div class="banner__btn" id="bannerBtn">&#8595;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section" id="section">
            <div class="container">
              <div class="row">
                <div class="banner__btnbox">
                  <div class="banner__btn" id="sectionBtn">&#8593;</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="sectionText" id="sectionText">
                    <div class="sectionText__title" id="sectionTitle">
                      Next, let us dive into the smooth experience Apollo
                      brings!
                    </div>
                    <div class="sectionText__subtitle" id="sectionSubtitle">
                      Please choose the role you want to experience?
                    </div>
                    <div class="sectionText__title" id="sectionTitleCircle1">
                      Apollo brings good user experience to you before joining
                      the company
                    </div>
                    <div class="sectionText__title" id="sectionTitleCircle2">
                      Experience how Apollo helps your manager.
                    </div>
                    <div class="sectionText__title" id="sectionTitleCircle3">
                      Experience how Apollo helps your HR.
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="section__btnbox" id="sectionBtnBox">
                    <div class="section__btn1 section__btn">
                      <div class="section__btnCircle1 section__btnCircle"></div>
                      <div class="section__btnTitle section__btnTitle1">
                        Pre-Sales
                      </div>
                      <div class="section__btnSubtitle section__btnSubtitle1">
                        Aaron Lai
                      </div>
                    </div>
                    <div class="section__btn2 section__btn">
                      <div class="section__btnCircle2 section__btnCircle"></div>
                      <div class="section__btnTitle">Sales Director</div>
                      <div class="section__btnSubtitle">David Wu</div>
                    </div>
                    <div class="section__btn3 section__btn">
                      <div class="section__btnCircle3 section__btnCircle"></div>
                      <div class="section__btnTitle">HR Manager</div>
                      <div class="section__btnSubtitle">Carol Cheng</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="sec1">
                    <div class="sec1__text">
                      Before joining: Submit your resume to Apollo, and go
                      through an interview with Lasso AI
                    </div>
                    <div class="sec1__phone">
                      <div class="sec1__phoneInner">
                        <div class="sec1__phoneInnerLogo">Apollo</div>
                        <div class="sec1__phoneInnerTop">
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                        </div>
                        <div class="sec1__phoneInnerBottom">
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                          <div class="sec1__phoneInnerBox">
                            <div class="sec1__phoneInnerBoxBall"></div>
                            <div class="sec1__phoneInnerBoxText">BUTTON</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sec1__phoneBtn">
                      <div class="sec1__phoneBtnSq"></div>
                    </div>
                    <div class="sec1__phoneCopy1 sec1__phoneCopy1--left"></div>
                    <div class="sec1__phoneCopy1 sec1__phoneCopy1--right"></div>
                    <div class="sec1__phoneCopy2 sec1__phoneCopy2--left"></div>
                    <div class="sec1__phoneCopy2 sec1__phoneCopy2--right"></div>

                    <div class="sec1SlideInTextBox">
                      <div class="sec1SlideInTextBox__text">
                        Congrats! You made it, welcome to be a MOYOer.
                        <br />
                        Please download the Apollo App, you will find how smooth
                        is the employee onboarding process and reporting for
                        duty during the workday.
                      </div>
                      <div class="sec1SlideInTextBox__progBar">
                        <div class="sec1SlideInTextBox__progBall"></div>
                        <div class="sec1SlideInTextBox__progBall"></div>
                        <div class="sec1SlideInTextBox__progBall"></div>
                        <div
                          class="sec1SlideInTextBox__progBall sec1SlideInTextBox__progBall--last"
                        ></div>
                      </div>
                    </div>

                    <div class="sec1Info">
                      <div class="sec1InfoCard">
                        <div class="sec1InfoCard__left">
                          <div class="sec1InfoCard__leftTitle">Aaron Lai</div>
                          <div class="sec1InfoCard__leftSubtitle">
                            Full Time
                          </div>
                        </div>
                        <div class="sec1InfoCard__right">
                          <div class="sec1InfoCard__rightCard">
                            <div class="sec1InfoCard__rightCardTitle">Info</div>
                            <div class="sec1InfoCard__rightCardContent">
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Quo harum dolor aspernatur autem illo iure,
                              sequi voluptatibus aut blanditiis, veritatis,
                              error nesciunt vitae voluptate repellendus earum
                              iste aliquam consectetur rerum?
                            </div>
                          </div>
                          <div class="sec1InfoCard__rightCard">
                            <div class="sec1InfoCard__rightCardTitle">
                              Information Center
                            </div>
                            <div class="sec1InfoCard__rightCardContent">
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Quo harum dolor aspernatur autem illo iure,
                              sequi voluptatibus aut blanditiis, veritatis,
                              error nesciunt vitae voluptate repellendus earum
                              iste aliquam consectetur rerum?
                            </div>
                          </div>
                          <div class="sec1InfoCard__rightCard">
                            <div class="sec1InfoCard__rightCardTitle">Info</div>
                            <div class="sec1InfoCard__rightCardContent">
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Quo harum dolor aspernatur autem illo iure,
                              sequi voluptatibus aut blanditiis, veritatis,
                              error nesciunt vitae voluptate repellendus earum
                              iste aliquam consectetur rerum?
                            </div>
                          </div>
                          <div class="sec1InfoCard__rightCard">
                            <div class="sec1InfoCard__rightCardTitle">Info</div>
                            <div class="sec1InfoCard__rightCardContent">
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Quo harum dolor aspernatur autem illo iure,
                              sequi voluptatibus aut blanditiis, veritatis,
                              error nesciunt vitae voluptate repellendus earum
                              iste aliquam consectetur rerum?
                            </div>
                          </div>
                        </div>

                        <div class="sec1InfoCard__p2">
                          <div class="sec1InfoCard__p2Title">Hi! Aaron!</div>
                          <div class="sec1InfoCard__p2Body">
                            <div class="sec1InfoCard__p2BodyIcon">ICON</div>
                            <div class="sec1InfoCard__p2BodyText">Taipei</div>
                            <div class="sec1InfoCard__p2BodyBtn">Check In</div>
                          </div>
                        </div>
                        <div class="sec1InfoCard__p3">
                          <div
                            class="sec1InfoCard__p3Block sec1InfoCard__p3Block--first"
                          >
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Voluptatum, praesentium!
                          </div>
                          <div class="sec1InfoCard__p3Block">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Beatae, libero.
                          </div>
                          <div class="sec1InfoCard__p3Block">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Minus, amet?
                          </div>
                          <div class="sec1InfoCard__p3Block">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Deserunt, autem?
                          </div>
                        </div>
                        <div class="sec1InfoCard__p4">
                          <div class="sec1InfoCard__p4TitleBox">
                            <div class="sec1InfoCard__p4Title">
                              Hello Aaron, Welcome to MyAnalytics
                            </div>
                          </div>
                          <div class="sec1InfoCard__p4Body">
                            <div class="sec1InfoCard__p4BodyBox">
                              <div class="sec1InfoCard__p4BodyBoxTitle">
                                Focus
                              </div>
                              <div class="sec1InfoCard__p4BodyBoxSubtitle">
                                Do you have enough uninterrupted time to get
                                your work done?
                              </div>
                              <div class="sec1InfoCard__p4BodyBoxGraphBox">
                                <div class="sec1InfoCard__p4BodyBoxGraph">
                                  60%
                                </div>
                                <div class="sec1InfoCard__p4BodyBoxGraphDesc">
                                  <span>Of a typical week</span>
                                  <br />
                                  <span>Available to focus</span>
                                </div>
                              </div>
                            </div>
                            <div class="sec1InfoCard__p4BodyBox">
                              <div class="sec1InfoCard__p4BodyBoxTitle">
                                Wellbeing
                              </div>
                              <div class="sec1InfoCard__p4BodyBoxSubtitle">
                                Are you able to disconnect and recharge?
                              </div>
                              <div class="sec1InfoCard__p4BodyBoxGraphBox">
                                <div class="sec1InfoCard__p4BodyBoxGraph">
                                  13
                                </div>
                                <div class="sec1InfoCard__p4BodyBoxGraphDesc">
                                  <span>Protected from after hours</span>
                                  <br />
                                  <span>Quiet days</span>
                                </div>
                              </div>
                            </div>
                            <div class="sec1InfoCard__p4BodyBox">
                              <div class="sec1InfoCard__p4BodyBoxTitle">
                                Network
                              </div>
                              <div class="sec1InfoCard__p4BodyBoxSubtitle">
                                Do you proactively manage your network?
                              </div>
                              <div class="sec1InfoCard__p4BodyBoxGraphBox">
                                <div class="sec1InfoCard__p4BodyBoxGraph">
                                  60%
                                </div>
                                <div class="sec1InfoCard__p4BodyBoxGraphDesc">
                                  <span>Of a typical week</span>
                                  <br />
                                  <span>Available to focus</span>
                                </div>
                              </div>
                            </div>
                            <div class="sec1InfoCard__p4BodyBox">
                              <div class="sec1InfoCard__p4BodyBoxTitle">
                                Collaboration
                              </div>
                              <div class="sec1InfoCard__p4BodyBoxSubtitle">
                                Could your meetings be more productive?
                              </div>
                              <div class="sec1InfoCard__p4BodyBoxGraphBox">
                                <div class="sec1InfoCard__p4BodyBoxGraph">
                                  40%
                                </div>
                                <div class="sec1InfoCard__p4BodyBoxGraphDesc">
                                  <span>Of a typical week</span>
                                  <br />
                                  <span>Spent in collaboration</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="sec1InfoCard__p5"> -->
                        <div class="sec1InfoCard__p5Top">
                          <div class="sec1InfoCard__p5TopTitleBlock">
                            <div class="sec1InfoCard__p5TopTitleBlockLeftTitle">
                              <span>Weekly average</span>
                            </div>
                            <div
                              class="sec1InfoCard__p5TopTitleBlockRightTitle"
                            >
                              <span>Wellbeing</span>
                              <br />
                              <span>
                                Are you able to disconnect and recharge?
                              </span>
                            </div>
                          </div>
                          <div class="sec1InfoCard__p5TopBodyBlock">
                            <div class="sec1InfoCard__p5TopBodyBlockGraph">
                              ICON
                            </div>
                            <div
                              class="sec1InfoCard__p5TopBodyBlockBar sec1InfoCard__p5TopBodyBlockBar--first"
                            >
                              <div
                                class="sec1InfoCard__p5TopBodyBlockBarMeter"
                              ></div>
                              <div class="sec1InfoCard__p5TopBodyBlockBarTitle">
                                Can be used for concentration
                              </div>
                              <div
                                class="sec1InfoCard__p5TopBodyBlockBarNumber"
                              >
                                74%
                              </div>
                            </div>
                            <div class="sec1InfoCard__p5TopBodyBlockBar">
                              <div
                                class="sec1InfoCard__p5TopBodyBlockBarMeter"
                              ></div>
                              <div class="sec1InfoCard__p5TopBodyBlockBarTitle">
                                Working Time
                              </div>
                              <div
                                class="sec1InfoCard__p5TopBodyBlockBarNumber"
                              >
                                26%
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="sec1InfoCard__p5Mid">
                          <div class="sec1InfoCard__p5MidTitle">
                            Focus and collaboration time
                          </div>
                          <div class="sec1InfoCard__p5MidBlock">
                            <div class="sec1InfoCard__p5MidBlockNumber">
                              65%
                            </div>
                            <div class="sec1InfoCard__p5MidBlockTitle">
                              Collaboration time
                            </div>
                            <div class="sec1InfoCard__p5MidBlockIcon">ICON</div>
                          </div>
                          <div class="sec1InfoCard__p5MidBlock">
                            <div class="sec1InfoCard__p5MidBlockNumber">
                              35%
                            </div>
                            <div class="sec1InfoCard__p5MidBlockTitle">
                              Available to focus
                            </div>
                            <div class="sec1InfoCard__p5MidBlockIcon">ICON</div>
                          </div>
                        </div>
                        <div class="sec1InfoCard__p5Bot">
                          <div class="sec1InfoCard__p5BotTitle">
                            4 week trend <br />Work time
                          </div>
                          <div class="sec1InfoCard__p5BotGraph">Graph Here</div>
                        </div>
                        <!-- </div> -->
                      </div>
                      <div class="sec1InfoCard__p2BgTop"></div>
                      <div class="sec1InfoCard__p2BgBottom"></div>
                      <div class="sec1InfoText sec1InfoText--p1">
                        <div class="sec1InfoText__title">
                          Automatically receive a welcome letter to guide you to
                          utilize Apollo
                        </div>
                        <div class="sec1InfoText__subtitle">
                          Explore company regulations, announcements, staff
                          directory, and payrolls
                        </div>
                      </div>
                      <div class="sec1InfoText sec1InfoText--p2">
                        <div class="sec1InfoText__title">
                          Use your mobile phone to check-in, ask for a leave,
                          inquire about business matters, schedule your work and
                          send for approvals.
                        </div>
                        <div class="sec1InfoText__subtitle">
                          All functions are integrated with each other. Besides,
                          you will receive instant push notifications, so you
                          won’t miss out any important business.
                        </div>
                      </div>
                      <div class="sec1InfoText sec1InfoText--p3">
                        <div class="sec1InfoText__title">
                          User-Friendly Interface, Expand Apollo App to Meet
                          Your Specific Needs.
                        </div>
                        <div class="sec1InfoText__subtitle">
                          In addition, you can pin the contacts, files, and
                          tools you often use at work on your home screen to
                          facilitate finding and contacting.
                        </div>
                      </div>
                      <div class="sec1InfoText sec1InfoText--p4">
                        <div class="sec1InfoText__title">
                          Explore & Improve Your Work Mode Through MyAnalytics.
                        </div>
                        <div class="sec1InfoText__subtitle">
                          There will also be intimate reminders every week to
                          achieve goals in the workplace.
                        </div>
                      </div>
                      <div class="sec1InfoText sec1InfoText--p5">
                        <div class="sec1InfoText__title">
                          Apollo Analytics to Guide Your Work Efficiency.
                        </div>
                        <div class="sec1InfoText__subtitle">
                          Surfaces insights from your time allocation at work
                          through email and calendar meeting arrangements.
                        </div>
                      </div>
                      <div class="sec1InfoText sec1InfoText--p6">
                        Apollo works closely with you every day
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script defer src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- <script defer src="/javascript/jquery.rotate.js"></script> -->
    <script defer src="/javascript/index.js"></script>
  </body>
</html>
